@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}
:root {
  --blue: rgb(10, 10, 184);
}

/*  -------------------------Start header */
header {
  background-color: #333;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  align-items: center;
}

/* --start sidebar */
#menu-icon{
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: none;
  margin-left:-40px;
}
/***RESPONSIVE */
@media(max-width: 1150px){
  #menu-icon{
    display: block;

  }
  .navigation{
    display: none;
  }
}
.slide{
  height:49vh;
  width: 180px;
  position: absolute;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center; 
  left: -25rem;
  top: 63.1px;
  z-index: 120;
  transition: 0.7s ease;
} 

.slide.active{
  left: 0;
}


 .slide h1{
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  background-color: #9e9696;
    color: var(--blue);
    font-weight: 500;
    text-align: center;
    align-items: center;
    pointer-events: none;
    margin-bottom: 40px;
 }
 .slide i{
    font-size: 1rem;
 }
 .slide a{
  color: #fff;
  font-weight: 300;
  padding: 5px 0 ;
  display: block;
  text-transform: capitalize;
  transition: 0.2s ease-out;
  font-size: 1.3rem;
  width: 90%;
  height: auto;
  background: rgb(29, 31, 31);
  margin-bottom:30px ;
  padding-left: 5px;
  
 }
 .slide a:hover{
  color: var(--blue);
  padding-left: 10px;
 }







/* --END sidebar */
.logo {
 
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
.navigation a {
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navigation a:hover {
  color: #601cfc;
}
/*  -------------------------END header */
/*  -------------------------Start section */
section {
  padding: 110px 120px;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(/image/couverture\ 9.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* *-----responsive start */
@media (min-width: 1151px) and (max-width: 1360px) {
    .main {
        min-height: 90vh;
        background: url('/image/respo pic 1.png') no-repeat;
    }
}
@media  (max-width: 1150px) {
    section {
        padding-top: 5px;
        
      }
    .main {
        min-height: 100vh;
        background: url('/image/cropped.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}
/* *-----responsive END */

.main h2 {
  color: rgb(63, 63, 114);
  font-size: 1.8em;
  font-weight: 500;
}
@media  (max-width: 1150px){
    section {
        padding-top: 150px;
        
      }
    .main h2{
        font-size: 1.3em;
        font-weight: 500;
    }
}
.main h2 span {
  display: inline-block;
  margin-top: -15px;
  color: var(--blue);
  font-size: 3em;
  font-weight: 600;
}
@media  (max-width: 1150px){
    .main h2 span{
        margin-top: 0px;
        font-size: 3em;
    }
}
.main h3 {
  color: rgb(63, 63, 114);
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: -10px;
  margin-bottom: 12px;
}
@media  (max-width: 1150px){
    .main h3{
        margin-top: 0;
        font-size: 1em;
        margin-bottom: 20px;
    }
}
.main-btn {
  color: #fff;
  background-color: var(--blue);
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 10px;
  transition: 0.7s ease;
}
.main-btn:hover{
  background-color: rgb(63, 63, 114);
  transform: scale(1.1);
}
@media  (max-width: 1150px){
    .main-btn{
        font-size: 0.8em;
    }
}
.social-icons{
    padding-left: 33px;
}
@media  (max-width: 1150px){
    .social-icons{
        padding-left: 0px;
    }
}
.social-icons a {
    color: rgb(63, 63, 114);;
    font-size: 1.7em;
    padding-right: 30px;
}
/*  -------------------------END section */
