@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}
:root {
  --blue: rgb(10, 10, 184);
  --bg-color:#1b1f24;
  --second-bg-color:#22282f;
}

/*  -------------------------Start header */
header {
  /* background-color: #C2C2C2; */
  /* background-color: #1B1F24; */
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  align-items: center;
}

header.sticky{
  background-color:var(--bg-color) ;
}
/* --start sidebar */
#menu-icon{
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: none;
  margin-left:-40px;
}
/***RESPONSIVE */
/* tablet */
@media(max-width: 1150px){
  #menu-icon{
    display: block;

  }
  .navigation{
    display: none;
  }
}


/* phones */
@media (max-width: 739px){
  header{
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
  }

}


.slide{
  height:auto;
  width: 180px;
  position: absolute;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center; 
  left: -25rem;
  top: 63.1px;
  z-index: 120;
  transition: 0.7s ease;
} 

.slide.active{
  left: 0;
}


 .slide h1{
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  background-color: var(--blue);
    color: #fff;
    font-weight: 500;
    text-align: center;
    align-items: center;
    pointer-events: none;
    margin-bottom: 40px;
 }
 .slide i{
    font-size: 1rem;
 }
 .slide a{
  color: #fff;
  font-weight: 300;
  padding: 5px 0 ;
  display: block;
  text-transform: capitalize;
  transition: 0.2s ease-out;
  font-size: 1.3rem;
  width: 90%;
  height: auto;
  background: rgb(29, 31, 31);
  margin-bottom:30px ;
  padding-left: 5px;
 }
 .slide a:hover{
  color: var(--blue);
  padding-left: 10px;
 }

/* --END sidebar */


.logo {
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
 
/* phones */
@media (max-width: 739px){
  .logo{
    margin-right: -10px;
  }
}

.navigation a {
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navigation a:hover {
  color: #601cfc;
}
/*  -------------------------END header */
/*  -------------------------Start HOME-section  */

.main {
  padding: 110px 10% 110px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(/image/background.jpg) no-repeat;
  background-color: #1B1F24;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  background-attachment: fixed;
}
.main *{
  position: relative;
  z-index: 2;
}
/* *-----responsive start */
/* tablet */
@media (min-width: 1151px) and (max-width: 1360px) {
    .main {
        min-height: 90vh;
    }
}
@media  (max-width: 1150px) {
    section {
        padding-top: 5px;
        
      }
    .main {
        min-height: 100vh;
        background: url('/image/cropped.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}
/* phones */
@media (max-width: 739px) {

  .main {
      line-height: 2;
      background: url('/image/couverture\ for\ phones\ 2.png') no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      padding-left:30px ;
      padding-right: 30px;
  }
}
/* *-----responsive END */

.main h2 {
  color: #fff;
  font-size: 1.8em;
  font-weight: 500;
}
/* tablet */
@media  (max-width: 1360px){
    section {
        padding-top: 150px;
        
      }
    .main h2{
        font-size: 1.3em;
        font-weight: 500;
    }
}
.main h2 span {
  display: inline-block;
  margin-top: 8px;
  color: var(--blue);
  font-size: 1.7em;
  font-weight: 600;
}
/* tablet */
@media  (max-width: 1192px){
    .main h2 span{
        margin-top: 0px;
        font-size: 2em;
    }
}
@media(max-width:1080px){
  .main h2 span{
    font-size: 1.4em;
  }
}
/* phones */
@media (max-width: 739px){
  .main h2 span{
    font-size: 1.8em;
    font-weight: 800;
    margin-top: 15px;
    word-spacing: 5px
  }
}
.main h3 {
  color:#fff;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 8px;
}
/* tablet */
@media  (max-width: 1150px){
    .main h3{
        margin-top: 0;
        font-size: 1em;
        margin-bottom: 20px;
    }
}
/* phones */
@media (max-width: 739px){
  .main h3{
    font-size: 1em;
    font-weight: 700;
    word-spacing: 8px;
    letter-spacing: 1px;
    margin-top: 15px;
  }
}
.box-btn{
  margin-top: 40px;
  display: flex;
}
.main-btn {
  margin-right: 10px;
  color: #fff;
  background-color: var(--blue);
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  padding: 11px 20px;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 10px;
  transition: all 0.50s ease;
}

.main-btn:hover{
  background-color: rgb(63, 63, 114);
  transform: scale(1.1);
  box-shadow: 0 0 8px var(--blue);
}
.btn--download{
  background-color: #fff;
  color: var(--blue);
}
.btn--download:hover{
   color: #fff;
}

/* tablet */
@media  (max-width: 1150px){
    .main-btn{
        font-size: 0.8em;
    }
}
@media  (max-width: 1083px){
  .box-btn{
    display: block;
  }
  .main-btn{
    padding: 11px 13px;
  }
}

/* phones */
@media (max-width: 739px){
  .main-btn{
    font-weight: 700;
  font-size: 14px;
    margin-top: 13px;
    padding: 14px 15px;

  }
}
.social-icons{
    padding-left: 33px;
    display: flex;
    width: 10rem;
    justify-content: space-between;
}
/* tablet */
@media  (max-width: 1150px){
    .social-icons{
        padding-left: 0px;
    }
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
}
.social-icons a:hover{
   color:rgb(63, 63, 114) ;
}
/* phones */
@media (max-width: 739px){
  .social-icons{
    padding-left: 4px; 
    margin-top: 10px; 
   }
   .social-icons a {
    padding-right: 20px;
   }
}
.myimg img{
  padding-bottom: 0;
  margin-bottom: -7em;
  display: none;
  background-attachment: fixed;
}
@media(min-width:1366px){
  .myimg img{
    display: block;
  }
}


/*  -------------------------END HOME-section */
/*  -------------------------START ABOUT-section */
.about{
  padding: 110px 10% 90px;
  background: var(--second-bg-color);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 1rem;
}
.about-img img{
   width: 100%;
   height: 430px;
   max-width: 430px;
   border-radius: 50%;
   object-fit: cover;
   border: 7px solid var(--blue);
   box-shadow:  0 0 20px var(--blue);
}
.about-text h2{
  color: #fff;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 20px;
}
.about-text h2 span{
  color: var(--blue);
}
.exp-area{
  margin-bottom: 30px;
}
.exp-area p{
  color: #fff;
  font-weight: 600;
  font-size:19px;
  line-height: 42px;
}
.exp-area p span{
  color: #c3cad5;
  font-size:1rem ;
  font-weight: 400;
  margin-left: 8px;
}
/*  -------------------------END ABOUT-section */


